
#key_test{
	position: relative;
	left: 100px;
}

.keyboard{
	position: relative;
	width: 100%;
	display: inline-block;
	top: 50px;
}

.row{
	margin-bottom: 3px;
	position: relative;
}

.key_row0{
	left: 60px;
}

.key_row1{
	left: 90px;
}

.key_row2{
	left: 105px;
}

.key_row3{
	left: 25px;
}

.key#key_enter{
	width: 100px;
}

.key#key_shift{
	width: 126px;
}
.key#key_leftshift{
	width:	106px;
}

.key#key_space{
	left: 254px;
	width: 260px;
	height: 36px;
}

.key{
	font-size: 22px;
	position: relative;
	display: inline-block;
	height: 36px;
	width: 52px;
	border: 1px solid black;
	border-radius: 2px;
	padding-top: 14px;
	text-align: center;
	background-color: black;
	color: white;
}





