
.username-header{
	margin-right: 50px;
	display: inline-block;
	font-size: 2em
}

.sidebar-username{
	font-size: 2em;
}

.logout{
	float: right;
}

.side-bar-button{
	text-align: center;
	padding: 12px;
	border: 1px solid black;
}

.form-div{
	border: 1px solid black;
	position: relative;
	width: 100%;
}

.form-input{
	position: relative;
	margin-left: 30px;
}

.form-button{
	text-align: center;
}

.identifier{
	margin-left: 10px;
}