<div class='buttons'>
	<h4 class='side-bar-button' id='login-button'>Login</h4>
	<h4 class='side-bar-button' id='signup-button'>Sign Up</h4>
</div>
<div class='login-append'>
</div>
<div class='user-info'>
	<h3>UserName: </h3><span class='sidebar-username'></span>
	<p>Words per Minute: </p><span class='sidebar-userWPM'></span>
	<p>Characters per Minute: </p><span class='sidebar-userCPM'></span>
	<p>Accuracy</p><span class='sidebar-useraccuracy'></span>
	<button class='logout'>Log Out</button>
	<!-- <p class='sidebar-userWPM'></p> -->
</div>