
html{
	background-color: aliceblue;
}

header{
	width: 30%;
	height: 100%;
	float: right;
	position: relative;
}

.buttons{
	float: right;
	position: relative;
	right: 10%;
}

.text-space{
	overflow: hidden;
	white-space: nowrap;
}


.text-area{
	display: inline-block;
	width: 60%;
	font-size: 26px;
	font-family: Verdana;
	font-weight: 600;
}


.text-response{
	margin-top: 5px;
}

.char{
	margin: 4px;
}
