
.row{
	margin-bottom: 2px;
}

.key#space{
	width: 200px;
	height: 26px;
}

.key{
	display: inline-block;
	height: 26px;
	width: 26px;
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
}

.text-space{
}
