
header{
	width: 30%;
	height: 100%;
	float: right;
	position: relative;
}

.buttons{
	float: right;
	position: relative;
	right: 10%;
}


.text-area{
	display: inline-block;
	width: 60%;

}

.text-response{
	margin-top: 5px;
}

.char{
	margin: 4px;
}
