
#key_test{
	position: relative;
	left: 100px;
}



.keyboard{
	position: relative;
	width: 100%;
	display: inline-block;
}

.row{
	margin-bottom: 3px;
	position: relative;
}

.key_row0{
	left: 31px;
}

.key_row1{
	left: 46px;
}

.key_row2{
	left: 53px;
}

.key_row3{
	left: 0px;
}

.key#key_enter{
	width: 55px;
}

.key#key_shift{
	width: 70px;
}
.key#key_leftshift{
	width:	64px;
}

.key#key_space{
	left: 130px;
	width: 200px;
	height: 26px;
}

.key{
	position: relative;
	display: inline-block;
	height: 26px;
	width: 26px;
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
	background-color: white;
}





