
<div id='row_0' class='row'>
	<div id='key_1' class='key key_row0'>
		1
	</div>
	<div id='key_2' class='key key_row0'>
		2
	</div>
	<div id='key_3' class='key key_row0'>
		3
	</div>
	<div id='key_4' class='key key_row0'>
		4
	</div>
	<div id='key_5' class='key key_row0'>
		5
	</div>
	<div id='key_6' class='key key_row0'>
		6
	</div>
	<div id='key_7' class='key key_row0'>
		7
	</div>
	<div id='key_8' class='key key_row0'>
		8
	</div>
	<div id='key_9' class='key key_row0'>
		9
	</div>
	<div id='key_0' class='key key_row0'>
		0
	</div>
	<div id='key_dash' class='key key_row0'>
		-
	</div>
<!-- 	<div id='key_=' class='key'>
		=
	</div> -->
</div>
<div id='row_1' class='row'>
	<div id='key_q' class='key key_row1'>
		Q
	</div>
	<div id='key_w' class='key key_row1'>
		W
	</div>
	<div id='key_e' class='key key_row1'>
		E
	</div>
	<div id='key_r' class='key key_row1'>
		R
	</div>
	<div id='key_t' class='key key_row1'>
		T
	</div>
	<div id='key_y' class='key key_row1'>
		Y
	</div>
	<div id='key_u' class='key key_row1'>
		U
	</div>
	<div id='key_i' class='key key_row1'>
		I
	</div>
	<div id='key_o' class='key key_row1'>
		O
	</div>
	<div id='key_p' class='key key_row1'>
		P
	</div>
</div>
<div id='row_2' class='row'>
	<div id='key_a' class='key key_row2'>
		A
	</div>
	<div id='key_s' class='key key_row2'>
		S
	</div>
	<div id='key_d' class='key key_row2'>
		D
	</div>
	<div id='key_f' class='key key_row2'>
		F
	</div>
	<div id='key_g' class='key key_row2'>
		G
	</div>
	<div id='key_h' class='key key_row2'>
		H
	</div>
	<div id='key_j' class='key key_row2'>
		J
	</div>
	<div id='key_k' class='key key_row2'>
		K
	</div>
	<div id='key_l' class='key key_row2'>
		L
	</div>
	<div id='key_semi' class='key key_row2'>
		;
	</div>
	<div id='key_quote' class='key key_row2'>
		'
	</div>
	<div id='key_enter' class='key key_row2'>
		return
	</div>
</div>
<div id='row_3' class='row'>
	<div id='key_leftshift' class='key key_row3'>
		shift
	</div>
	<div id='key_z' class='key key_row3'>
		Z
	</div>
	<div id='key_x' class='key key_row3'>
		X
	</div>
	<div id='key_c' class='key key_row3'>
		C
	</div>
	<div id='key_v' class='key key_row3'>
		V
	</div>
	<div id='key_b' class='key key_row3'>
		B
	</div>
	<div id='key_n' class='key key_row3'>
		N
	</div>
	<div id='key_m' class='key key_row3'>
		M
	</div>
	<div id='key_comma' class='key key_row3'>
		,
	</div>
	<div id='key_period' class='key key_row3'>
		.
	</div>
	<div id='key_forward-slash' class='key key_row3'>
		/
	</div>
	<div id='key_shift' class='key key_row3'>
		shift
	</div>
</div>
<div class='row_4'>
	<div id='key_space' class='key'>
		<!-- Spacebar -->
	</div>
</div>