
<!-- <script src='js/login.js'></script> -->

<div class='form-div' id='login'>	
	<h4>
		Please enter login information
	</h4>
	<div id='login-form'>
		<p class='identifier'>UserName:</p>
		<input class='form-input login-input' type='text' id='login-username-input'></input>
		<p class='identifier'>Password:</p>
		<input class='form-input login-input' type='password' id='login-password-input'></input>
	</div>

	<h4 class='form-button login-form-button cancel-button'>Cancel</h4>
	<h4 class='form-button  login-form-button submit-button'>Submit</h4>
</div>



<div class='form-div' id = 'sign-up'>
	<h4>
		Please enter login information
	</h4>
	<div id='signup-form'>
		<p class='identifier'>UserName:</p>
		<input class='form-input signup-input' type='text' id='signup-username-input'></input>
		<p class='identifier'>Password:</p>
		<input class='form-input signup-input' type='password' id='signup-password-input'></input>
		<p class='identifier'>Confirm Password:</p>
		<input class='form-input signup-input' type='password' id='signup-confirm-password-input'></input>
	</div>

	<h4 class='form-button cancel-button'>Cancel</h4>
	<h4 class='form-button signup-submit-button'>Submit</h4>
</div>